
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body {
    background: #08402d;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 360px;
    height: 640px;
    background: #1ba236;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.header {
    background: #099154;
    color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.header i {
    font-size: 22px;
    cursor: pointer;
}

.header h3 {
    flex: 1;
    font-size: 20px ;
    font-weight: 500;
    font:bold;
}

.photo img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


.content {
    flex: 1;
    padding: 10px;
    overflow-y: auto;
    display: flex;              
    flex-direction: column;     
    background: #cedace;
}



.date {
    text-align: center;
    font-size: 12px;
    color: #555;
    margin: 10px 0;
}
.left,
.right {
    max-width: 75%;
    padding: 8px 12px;
    margin: 6px 0;
    font-size: 14px;
    border-radius: 8px;
}

.left {
    background: white;
    align-self: flex-start;     
}

.right {
    background: lightgreen;
    align-self: flex-end;       
}



.footer {
    background: #f0f0f0;
    padding: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.footer i {
    font-size: 22px;
    color: rgb(97, 95, 95);
    cursor: pointer;
}

.footer input {
    flex: 1;
    border: none;
    outline: none;
    padding: 8px 12px;
    border-radius: 20px;
    font-size: 14px;
}

.mic-btn {
    background: #075e54;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mic-btn i {
    color: #fff;
    font-size: 18px;
}
